{{extend 'layout.html'}}
<form-name>Select the recharge plan</form-name>
<form action="{{=URL()}}" method="post">
  <phone-number>Your phone number:</phone-number><input name="phone-number" />
  <input type="submit" class='input-button'/>
</form>

